@font-face {
    font-family: 'MyriadProBold';
    src: url('../fonts/MyriadProBold.eot');
    src: url('../fonts/MyriadProBold.eot') format('embedded-opentype'),
    url('../fonts/MyriadProBold.woff2') format('woff2'),
    url('../fonts/MyriadProBold.woff') format('woff'),
    url('../fonts/MyriadProBold.ttf') format('truetype'),
    url('../fonts/MyriadProBold.svg#MyriadProBold') format('svg');
}

@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/OswaldRegular.eot');
    src: url('../fonts/OswaldRegular.eot') format('embedded-opentype'),
    url('../fonts/OswaldRegular.woff2') format('woff2'),
    url('../fonts/OswaldRegular.woff') format('woff'),
    url('../fonts/OswaldRegular.ttf') format('truetype'),
    url('../fonts/OswaldRegular.svg#OswaldRegular') format('svg');
}
@font-face {
    font-family: 'OswaldLight';
    src: url('../fonts/OswaldLight.eot');
    src: url('../fonts/OswaldLight.eot') format('embedded-opentype'),
    url('../fonts/OswaldLight.woff2') format('woff2'),
    url('../fonts/OswaldLight.woff') format('woff'),
    url('../fonts/OswaldLight.ttf') format('truetype'),
    url('../fonts/OswaldLight.svg#OswaldLight') format('svg');
}



* {
    padding: 0;
    margin: 0;

}
.container {
    max-width: 840px;
    margin: auto;
}

.line {
    padding-bottom: 30px;
    box-sizing: border-box;
    background-color: black;
    text-transform: uppercase;
    color: white;
    border-bottom: solid 2px white;

}

.time {
    margin-top: 32px;
    float: left;

    font-size: 48px;
    font-weight: bold;
    line-height: 33px;

}
.time:after{
    content:"" ;
    clear:both;
    display: block;
}

.description {
    font-family: 'OswaldRegular';
    display: inline-block;
    margin-top: 40px;
    padding-left: 45px;
    font-size: 18px;
}

.text_description:after{
    content:"" ;
    clear:both;
    display: block;
}
.container h2{

    color: black;
    line-height: 30px;
    font-size: 30px;
    padding-bottom: 15px;
    text-transform: uppercase;
}
/**********************************/
.line:nth-child(2) {
    background-color: #c4c4c4;

}

.line:nth-child(7) {
    background-color: #c4c4c4;

}

/*******************************/
.program_speakers {
    padding-top: 32px;
    color: black;
}

.speaker {

    padding-bottom: 210px;
}

.speaker:nth-child(1) {
    margin-bottom: 48px;
}

.speaker:nth-child(2) {
    margin-bottom: 33px;
}

.program_speakers .container .speaker .photo {
    padding-bottom: 210px;
    padding-right: 210px;
    background-color: black;
    float: left;
}
.part_of_speakers .container .speaker .photo:after{
    content:"" ;
    clear:both;
    display: block;
}

.speaker .time {
    font-family: 'MyriadProBold';
    padding-left: 14px;
    float: left;

}
.speaker .time:after{
    content:"" ;
    clear:both;
    display: block;
}

.speaker .description {
    margin-top: 32px;
    float: left;
    padding-left: 35px;

}
.speaker .description:after{
    content:"" ;
    clear:both;
    display: block;
}

.speaker .description p:nth-child(1) {
    font-size: 24px;
    margin-bottom: 20px;
}

.speaker .description p:nth-child(2) {
    font-size: 18px;
}

/************************************************/
.main {
    color: black;
}

.part_of_speakers {

    box-sizing: border-box;
    padding-bottom: 300px;
    margin-bottom: 10px;

}
.part_of_speakers:nth-child(1){
    margin-top: 35px;

}
.part_of_speakers .time {

    font-size: 24px;
    float: left;
    margin-top: 220px;
    padding-right: 25px;
}
.part_of_speakers .time:after{
    content:"" ;
    clear:both;
    display: block;
}

.part_of_speakers hr {
    top: 235px;
    border: solid 1px black;
    position: relative;
    z-index: 0;
    max-width: 80%;
}



.main .part_of_speakers .description {
    float: left;
    padding-right: 95px;
    margin-top: 30px;
    font-size: 18px;
    position: relative;
    z-index: 1;
}
.main .part_of_speakers .description:after{
    content:"" ;
    clear:both;
    display: block;
}
.main .part_of_speakers .description:last-child{
    padding-right: 0;
}
.main .photo {
    padding-bottom: 120px;
    padding-left: 120px;
    background-color: black;
    float: left;
}
.main .photo:after{
    content:"" ;
    clear:both;
    display: block;
}

.main .description p:nth-child(1) {
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 10px;
}

.main .description p:nth-child(2) {
    font-family: 'OswaldLight';
    font-size: 16px;
    padding-bottom: 20px;

}
/********************************************/
footer{
    padding-top: 100px;
    color: black;
}
footer .image{
    float: left;
    border: solid 1px black;
   padding: 95px 15px;
    max-width: 310px;
    }
footer .image:after{
    content:"" ;
    clear:both;
    display: block;
}

.image img{
    width: 100%;
}
footer .time {
    float: left;
    margin-left: 12px;
    font-size: 48px;

    line-height: 33px;

}
footer .time:after{
    content:"" ;
    clear:both;
    display: block;
}

footer .description {
    line-height: 25px;
    margin-top: 30px;
    padding-left: 36px;
    font-size: 18px;
}

footer .text_description:after {
    content: '';
    display: table;
    clear: both;
}